[submodule "Poly/libs/spdlog"]
	path = Poly/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Poly/libs/glfw"]
	path = Poly/libs/glfw
	url = https://github.com/Ceanze/glfw
[submodule "Poly/libs/VMA"]
	path = Poly/libs/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Poly/libs/glslang"]
	path = Poly/libs/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Poly/libs/assimp"]
	path = Poly/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Poly/libs/imgui"]
	path = Poly/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "Poly/libs/entt"]
	path = Poly/libs/entt
	url = https://github.com/skypjack/entt
[submodule "Poly/libs/yaml-cpp"]
	path = Poly/libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
