[submodule "Poly/libs/spdlog"]
	path = Poly/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Poly/libs/glfw"]
	path = Poly/libs/glfw
	url = https://github.com/Ceanze/glfw
[submodule "Poly/libs/VMA"]
	path = Poly/libs/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Poly/libs/glslang"]
	path = Poly/libs/glslang
	url = https://github.com/KhronosGroup/glslang.git
